<marvel-characters-search
	(charactersNameEmitter)="updateCharactersName($event)"
>
</marvel-characters-search>

<ng-container *ngIf="loading; else lista">
	
		<marvel-loading></marvel-loading>
	
</ng-container>
<ng-template #lista>
	<table>
		<colgroup>
			<col class="column-one">	
			<col class="column-two hide-md">
			<col class="column-three hide-lg">	
		</colgroup>
		<thead>
			<tr>
				<th scope="col" id="characters">Personagem</th>
				<th scope="col" id="series" class="hide-md">Séries</th>
				<th scope="col" id="events" class="hide-lg">Eventos</th>
			</tr>
		</thead>
		<tbody>
			<tr 
				*ngFor="let character of characters" 
				(click)="characterDetail(character.id)" 
				marvel-character-row 
				[character]="character"
			>
			</tr>
		</tbody>
	</table>

	<div class="pagination">
		<div class="arrow-back" [ngClass]="{'diseabled':currentPage === 0}"></div>
		<div class="page" 
			*ngFor="let page of pageCounter(pages); let i = index;" 
			(click)="getCharactersPage(i)" 
			[ngClass]="{'active':currentPage === i}"
		>
			{{i+1}}
		</div>
		<div class="arrow-next" [ngClass]="{'diseabled':currentPage === pages}"></div>
	</div>
</ng-template>
